# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Tests
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp

# Git
.git/
.gitignore

# Docs
docs_archive/
test_files_archive/
scripts_archive/

# Otros
.env
*.pdf
temp/
OTRA CARPETA/
