--
-- PostgreSQL database dump
--

\restrict eEli7KCwQJOmmiH3Hhoi8YLLdwxkikRmXvq8fwTOr0fkPMDcyRKm0OwRioKtdYt

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: common_aerolinea; Type: TABLE DATA; Schema: public; Owner: postgres
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public.common_aerolinea DISABLE TRIGGER ALL;



ALTER TABLE public.common_aerolinea ENABLE TRIGGER ALL;

--
-- Data for Name: common_pais; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.common_pais DISABLE TRIGGER ALL;



ALTER TABLE public.common_pais ENABLE TRIGGER ALL;

--
-- Data for Name: common_ciudad; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.common_ciudad DISABLE TRIGGER ALL;



ALTER TABLE public.common_ciudad ENABLE TRIGGER ALL;

--
-- Data for Name: core_moneda; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.core_moneda DISABLE TRIGGER ALL;



ALTER TABLE public.core_moneda ENABLE TRIGGER ALL;

--
-- Name: core_aerolinea_id_aerolinea_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_aerolinea_id_aerolinea_seq', 302, true);


--
-- Name: core_ciudad_id_ciudad_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_ciudad_id_ciudad_seq', 357, true);


--
-- Name: core_moneda_id_moneda_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_moneda_id_moneda_seq', 140, true);


--
-- Name: core_pais_id_pais_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_pais_id_pais_seq', 196, true);


--
-- PostgreSQL database dump complete
--

\unrestrict eEli7KCwQJOmmiH3Hhoi8YLLdwxkikRmXvq8fwTOr0fkPMDcyRKm0OwRioKtdYt

